/* Layout container below header */
.layout {
  display: flex;
  margin-top: 20px; /* keeps below Header */
}

.sidebar {
  width: 240px;
  background-color: #0064a4;
  color: white;
  height: 100%;
  min-height: 100vh; 
  padding-top: 20px;
  position: fixed;
}

.sidebar a {
  display: block;
  color: white;
  padding: 14px 22px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.sidebar-bg {
  position: absolute;
  left: 0;
  top: 125px; /* below header */
  width: 240px;
  height: 100%;
  background-color: #0064a4;
  z-index: 0;
}


.sidebar a:hover {
  background-color: #0d7dc2;
}

/* Main content area */
.main {
  margin-left: 260px;
  padding: 40px 60px;
  background-color: #f5f8fa;
  min-height: calc(100vh - 70px);
  max-width: 1450px;    /* cleaner readable column width */
  text-align: left;    /* fix centered paragraphs */
}


/* Headings */
.main h1 {
  color: #0064a4;
  font-size: 32px;
  margin-bottom: 10px;
}

.main h2 {
  color: #003b63;
  margin-top: 25px;
  border-left: 5px solid #ffd200;
  padding-left: 10px;
}

/* General text */
.main p,
.main ul {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

/* Project list styling */
.main ul li {
  margin-bottom: 8px;
}
