.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 180px; /* Adjusted so it sits under the Header */
  left: 0;
  background-color: #111;
  padding-top: 40px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidebar a:hover {
  background-color: #575757;
}
